@import "normalize.css/normalize.css";

body {
  padding: 1em;
  font-family: sans-serif;
}

.impls-grid {
  flex-flow: wrap;
  display: flex;
  gap: 2em;
}

.impl {
  max-width: 500px;
  border: 1px solid #ccc;;
  padding: 0.5em;
}

h2 {
  margin-top: 0;
}

.live {
  background: #fafafa;
  padding: 0.5em;
}